<!DOCTYPE html>
<html>
<head>
    <title>Monero Node Monitor</title>
    <link rel="icon" type="image/x-icon" href="https://cryptologos.cc/logos/monero-xmr-logo.png?v=026">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #333;
    }

    .navbar {
        background-color: #333;
        color: orange;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .navbar-left {
        font-weight: bold;
    }

    .navbar-right a {
        text-decoration: none;
        color: white;
        margin-left: 20px;
    }

    .navbar-right a:hover {
        border-bottom: 2px solid orange;
    }
    .info{
        color: white;
        text-align: center;
        font-size: 25px;
        border: 1px solid orange;
    }
    .info h1{
        margin-top: 0;
        color: orange;
        
    }
</style>
<body>
    <div class="navbar">
        <div class="navbar-left">
            Monero Node Monitor
        </div>
        <div class="navbar-right">
            <a href="https://github.com/4rkal/MoneroNodeMonitor" target="_blank">GitHub Repo</a>
        </div>
    </div>
    <div class="info">
        <h1>Status:</h1>
        <p><strong>Height:</strong> {{.Height}}</p>
        <p><strong>Status:</strong> {{.Status}}</p>
        <p><strong>Network:</strong> {{.NetType}}</p>
        <p><strong>Synchronized:</strong> {{.Synchronized}}</p>
        <p><strong>Free Space:</strong> {{.FreeSpace}}</p>
        <p><strong>Outgoing Connections:</strong> {{.OutgoingConnectionsCount}}</p>
        <p><strong>TxPoolSize:</strong> {{.TxPoolSize}}</p>
    </div>
</body>
</html>
