<!DOCTYPE html>
<html>
<head>
    <title>Monero Node Status</title>
</head>
<body>
    <h1>Monero Node Info</h1>
    <p><strong>Height:</strong> {{.Height}}</p>
    <p><strong>Status:</strong> {{.Status}}</p>
    <p><strong>Network:</strong> {{.NetType}}</p>
    <p><strong>Synchronized:</strong> {{.Synchronized}}</p>
    <p><strong>Free Space:</strong> {{.FreeSpace}}</p>
    <p><strong>Outgoing Connections:</strong> {{.OutgoingConnectionsCount}}</p>
    <p><strong>TxCount:</strong> {{.TxCount}}</p>
</body>
</html>
